.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    max-width: 450px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }

  &__icon-bg {
    padding-top: 25px;
    padding-bottom: 25px;

    text-align: center;
    background-color: $color-11;

    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $mobile) {
      text-align: center;
    }
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
}
