.hero {
  margin-left: auto;
  margin-right: auto;

  min-height: 400px;
  padding-top: 118px;

  background-color: $color-8;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/imgHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }

  &__group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    max-width: 360px;

    @media screen and (min-width: $desktop) {
      max-width: 696px;
    }
  }

  &__title {
    color: $color-6;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 1.62;

    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    color: $color-6;
    box-shadow: $box-shadow;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    min-height: 50px;
    min-width: 200px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-3;

    transition: background-color $transition-variable;
  }

  &__button:hover,
  &__button:focus {
    background-color: $color-1;
  }
}
