.header {
  // position: relative;
  border-bottom: 1px solid $color-9;
  height: 60px;

  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }

  &__logo {
    margin-right: auto;

    @media screen and (min-width: $tablet) {
      margin-right: 93px;
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__contacts {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (min-width: $tablet) {
      margin-left: auto;
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: $mobile;

    @media screen and (min-width: $tablet) {
      width: $tablet;
    }

    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    margin-left: auto;

    display: block;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu-open {
    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &__menu-close {
    display: none;
  }

  &__button.is-open &__menu-open {
    display: none;
  }

  &__button.is-open &__menu-close {
    display: block;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  // &__mob-menu {
  //   position: fixed;
  //   top: 0;
  //   left: 0;

  //   transform: translateY(-100%);
  //   transition: transform $transition-variable;
  // }

  // &__mob-menu.is-open {
  //   transform: translateY(0%);
  // }
}
