.header {
  border-bottom: 1px solid $color-9;
  height: 60px;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__logo {
    @include clickArea(13px);
    margin-right: 93px;

    @media screen and (min-width: $tablet) {
      @include clickArea(24px);
      margin-right: 80px;
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &__contacts {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      margin-left: auto;
    }
  }

  &__menu {
    display: block;
    margin-left: auto;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu-container {
    // height: 796px;
    // width: 480px;
    // background-color: $color-6;
  }
}
