.team {
  background-color: $color-11;

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    max-width: 450px;
    height: auto;

    @media screen and (min-width: $tablet) {
      max-width: 354px;
      height: auto;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      height: auto;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 10px;
  }
}
