.contacts {
  &__list--header {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    @media screen and (min-width: $tablet) {
      flex-direction: column;
      gap: 10px;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__list--footer {
    max-width: 232px;
    gap: 8px;
  }

  &__item--header {
    color: currentColor;
    transition: color $transition-variable;
  }

  &__item--footer {
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__link--header {
    color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: color $transition-variable;

    @media screen and (min-width: $tablet) {
      @include clickArea(4px);
    }

    @media screen and (min-width: $desktop) {
      @include clickArea(24px);
    }
  }

  &__icon--header {
    fill: currentColor;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
    transition: fill $transition-variable;
  }

  &__item:hover,
  &__item:focus {
    color: $color-3;
  }

  &__mail--header {
    letter-spacing: 0.02em;

    font-size: 24px;
    line-height: 1.17;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 1.17;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__tel--header {
    letter-spacing: 0.02em;
    color: $color-3;
    font-size: 34px;
    line-height: 1.18;

    @media screen and (min-width: $tablet) {
      color: inherit;
      font-size: 12px;
      line-height: 1.17;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__mail--footer,
  &__tel--footer {
    color: $color-6-opacity;
  }

  &__location--footer {
    color: $color-6;
  }
}
