.contacts {
  &__item {
    color: currentColor;
    transition: color $transition-variable;
  }

  &__icon {
    fill: currentColor;
    transition: fill $transition-variable;
  }

  &__link {
    transition: color $transition-variable;
  }

  &__item:hover &__link,
  &__item:focus &__link {
    color: $color-3;
  }

  &__list--header {
    color: currentColor;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: column;
      gap: 4px;
    }
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__link--header {
    color: currentColor;
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: $tablet) {
      @include clickArea(3px);
    }

    @media screen and (min-width: $desktop) {
      gap: 10px;
      @include clickArea(24px);
    }
  }

  &__list--footer {
    display: flex;
    flex-direction: column;
    max-width: 232px;
    gap: 8px;

    @media screen and (min-width: $desktop) {
    }
  }

  &__item--footer {
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__location--footer {
    color: $color-6;
  }

  &__mail--footer,
  &__tel--footer {
    color: $color-6-opacity;
  }
}
