.mob-menu {
  z-index: 999;
  background-color: $color-6;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;

  width: 101%;
  height: 100vh;
  overflow: auto;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  &__button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  &__menu-close {
    transition: fill $transition-variable;
  }

  &__button:hover &__menu-close,
  &__button:focus &__menu-close {
    cursor: pointer;
    fill: $color-3;
  }

  &__navigation {
    margin-bottom: auto;
  }

  &__contacts {
    margin-bottom: 64px;
  }

  &__sociallink {
  }
}
