.projects {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    @media screen and (min-width: $tablet) and (max-width: ($desktop)) {
      justify-content: left;
    }
  }

  &__item {
    max-width: 450px;

    @media screen and (min-width: $tablet) {
      max-width: 354px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 370px;
    }

    transition: box-shadow $transition-variable;
  }

  &__item:hover,
  &__item:focus {
    box-shadow: $portfolio-card-shadow;
  }
}
