.sociallink {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: $mini) {
      // gap: 20px;
      flex-wrap: wrap;
      max-width: 140px;
      // flex-direction: column;
    }
  }

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color $transition-variable;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;

    transition: fill $transition-variable;
  }

  &__icon--gray {
    fill: $color-7;
  }

  &__icon--white {
    fill: $color-6;
  }

  &__item:hover,
  &__item:focus {
    background-color: $color-3;
  }

  &__item:hover &__icon,
  &__item:focus &__icon {
    fill: $color-6;
  }

  &__item--footer {
    background: rgba(255, 255, 255, 0.1);
  }

  &__label {
    color: $color-6;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list--mob-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $narrow-mobile) {
      max-width: 200px;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__item--mob-menu {
    color: $color-3;
    padding-right: 10px;

    @media screen and (max-width: $narrow-mobile) {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  &__item--mob-menu:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid $color-5;
  }

  &__item--mob-menu:first-child {
    @media screen and (max-width: $narrow-mobile) {
      padding-left: 10px;
      border-left: 1px solid $color-5;
    }
  }

  &__link--mob-menu {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }

  &__text--mob-menu {
  }
}
